/* src/styles/Register.css */
.register-container {
    flex: 1;
    padding: 30px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .register-form {
    max-width: 400px;
    width: 100%;
    background: #fafafa;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .register-button {
    background: #ff5722;
    color: #fff;
    border: none;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .register-button:hover {
    background: #e64a19;
  }
  
    .form-group select {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    